@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Righteous&display=swap");

.border {
  border: 1px solid blue;
  border-radius: 5px;
  margin-top: 5px;
  padding: 10px;
}

.flexRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border: 1px solid blue;
  border-radius: 5px;
  padding: 5px;
}
.country {
  min-width: 110px;
  max-width: 110px;
  min-height: 110px;
  margin: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.countryName {
  text-align: center;
  color: white;
  font-family: Montserrat, sans-serif;
  
}

.flag {
  width: 40px;
  height: 40px;
  border-radius: 40%;
}

.title {
  text-align: center;
  color: white;
  font-family: Righteous;
}